<%= render partial: "shared/nav" %>
<h1><%= @coupon.name %></h1>
<strong>Unique Code: </strong><%= @coupon.unique_code %>
<strong>Discount: </strong><%= @coupon.discount %>
<strong>Status: </strong><%= @coupon.status %>
<strong>Times Used: </strong><%= @coupon.times_used %>
<% if @coupon.status == 'Active' %>
  <p><%= form_with url: "/merchants/#{@merchant.id}/coupons/#{@coupon.id}", method: :patch, local: true do |f| %> 
    <%= f.hidden_field :status, value: 'Inactive' %>
    <%= f.submit 'Deactivate Coupon' %>
  <% end %></p>
<% end %>
<% if @coupon.status == 'Inactive' %>
  <p><%= form_with url: "/merchants/#{@merchant.id}/coupons/#{@coupon.id}", method: :patch, local: true do |f| %> 
    <%= f.hidden_field :status, value: 'Active' %>
    <%= f.submit 'Activate Coupon' %>
  <% end %></p>
<% end %>